<div class="lot">
    <img src="../media/no_image.jpg">
    <div class="lot-info">
        <div class="lot-header">
            <span><p>Триває</p><h2>Title</h2></span>
        </div>
        <div class="lot-footer">
            <p class="seller">Продавець: <a id="seller-user">FirstName LastName</a></p>
            <div>
                <p id='start-price' class="price"></p>
                <p style="font-size: 15px">Мінімальна ставка</p>
            </div>
            <div>
                <p id='cur-price' class="price"></p>
                <p style="font-size: 15px">Теперішня ставка</p>
                <img src="lot_add.tpl" >
            </div>
        </div>
    </div>
    <script>
        function goto_info(id){
            window.location = '/lot/' + id
        }
    </script>
</div>
<form action="/login" method="post" class="form">
      <div class="input-container ic1">
        <input id="bid_num" name="bid" class="input" type="number" placeholder=" " />
        <div class="cut"></div>
        <label for="bid_num" class="placeholder">Cтавка</label>
      </div>
      <button type="text" class="submit">Зробити ставку</button>
    </form>