@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


body{
    width: 100%;
    margin: 0;
    background: #24292e;
}

.logo{
    font-family: 'Pacifico', cursive;
    margin-left: 20px;
    font-size: 40px;
    background: linear-gradient(to right, #ff6e7f, #bfe9ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main-content{
    padding: 0 20%;
}
.lot img{
    height: 125px;
    width: 167px;
    min-height: 125px;
    min-width: 167px;
    max-height: 125px;
    max-width: 167px;
}
.header{
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: space-between;
}
.lot{
    padding: 1%;
    border-radius: 20px;
    border: 2px solid;
    max-height: 125px;
    height: 15%;
    display: flex;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}

.began{
    border-color: #3df556;
}
.over{
    border-color: #ff2727;
}
.didnt-start{
    border-color: #ff9925;
}


.lot img{
    width: 15%;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 2%;
}

.lot h2 {
    font-size: 30px;
}

h2, p{
    color: white;
    font-family: "Roboto", sans-serif;
    margin: 0;
}
.text{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.text p{
    text-overflow: ellipsis;
}
.lot-info{
    width: 100%;
    position:relative;
    margin: 0 auto;
}
.lot-header{
    display: flex;
    justify-content: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
}
.lot-header p {
    border-style: solid;
    border-color: #18bb2e;
    border-width: 2px;
    border-radius: 50px;
    margin: auto 0;
    padding: 5px;
    color: #18bb2e;
}
.info p{
    margin-top: 20px;
}
.seller{
    margin-top: 7%;
}
.lot-footer{
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0px;
    justify-content: space-between;
}
.lot-footer div{
    width: 33%;
}
.lot-header span {
    display: flex;
}
.price, .lot-info .price {
    text-align: center;
    font-size: 50px;
}
.lot-title{
    text-align: center;
    font-size: 50px;
}
.lot-info p{
    font-size: 20px;
}
.lot-price{
    font-size: 50px !important;
}
.menu{
    list-style: none;
}
.abtn{
    transition-duration: 0.4s;
    padding: 0 20px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    margin-right: 10px;
}
.in{
    border: 2px solid #4CAF50;
}
.in:hover{
    background-color: #4CAF50;
}
.out{
    border: 2px solid #f44336;
}
.out:hover{
    background-color: #f44336;
}
.add-lot{
    border: 2px solid #008CBA;
}
.add-lot:hover{
    background-color: #008CBA;
}
/* ##################### FORM ################ */
.form {
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  width: 320px;
    margin: 0 auto;
}
.form textarea{
    resize: none;
    padding-top: 15px;
}
.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}
.ic3{
    margin-top: 30px;
    height: 100px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #24292e;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
    background-color: #24292e;
    border: 2px solid #08d;
  border-radius: 12px;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  // outline: 0;
  text-align: center;
  width: 100%;
    transition-duration: 0.4s;
}
.submit:hover{
    background-color: #08d;
}
.submit:active {
  background-color: #06b;
}

::-webkit-file-upload-button {
    border: none;
    background: #303245;
    color: white;
    padding: 10px 0;
    cursor: pointer;
}
